<h1>Products List</h1>

<div class="product">
    <div class="row">
        <div class="col-1-of-4">
            <div class="product__container">
                <div class="row"><div class="product__price">Price here</div></div>
                <div class="row"><div class="product__title">Title Here</div></div>
                <div class="row"><div class="product__description">Description</div></div>
                <div class="row"><div class="product__discount">Discount</div></div>
                <div class="row"><div class="product__img">img</div></div>
            </div>
        </div>
        <div class="col-1-of-4"></div>
        <div class="col-1-of-4"></div>
        <div class="col-1-of-4"></div>
    </div>
</div>
