@model ECommerceProject.Models.ViewModels.ProductVM

<div class="modal__content--header">
    <span class="close">&times;</span>
    <div>Product Details</div>
</div>
<div class="modal__content--body">
    <div class="row">
        <h2>@Model.Title</h2>
        <p class="modal__content--description">@Model.Description</p>
        <p class="modal__content--price">$ @Model.newPrice</p>
        <hr />
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="modal__content--right">
                <div class="modal__content--picture">
                    <img src="~/Images/Uploads/Products/@Model.Id/@Model.ImageUrl" />
                </div>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="modal__content--right">
                <a href="#" class="btn btn--secondary">Check all variants &rarr;</a><br /><br />
                <hr />
                @if (Model.GalleryImages != null)
                {
                    foreach (var image in Model.GalleryImages)
                    {
                        <div style="display: inline-block">
                            <a class="fancybox" @*rel="gallery1" href="/Images/Uploads/Products/@Model.Id/Gallery/@image"*@>
                                <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image" />
                            </a>&nbsp;
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        
        
    </div>


</div>
<div class="modal__content--footer modal__content--footer-wrapper">
        <a class="btn btn--cart">Add to Cart</a>
</div>
