<div class="product">
    <div class="row">
        <div class="col-1-of-4 product__col">
            <div class="product__container">
                <div class="row product__row">
                    <span class="product__tag">NEW</span>
                    <a href="#" class="product__link"><img class="product__img" src="~/Images/Products/prod-1.jpg" alt="prod-1" /></a>
                </div>
                <div class="row"><div class="product__title">Yello Jumper</div></div>
                <div class="row"><div class="product__description">A cool jumper for ladies</div></div>
                <div class="row">
                    <div class="product__priceWrapper">
                        <div class="product__price product__price--show">$20.99</div>
                        <div class="product__discount product__discount--hide">
                            <span class="product__discount--text">Offer</span>
                            <div class="product__discount--old">$20.99</div>
                            <div class="product__discount--new">$15.99</div>
                        </div>
                    </div>
                </div>
                <div class="product__buy u-margin-top-small">
                    <a href="#" class="btn btn--cart">Add to Cart</a>
                </div>
                <div class="row">
                    @*<div class="product__discount">
                        Promo!
                        <div class="product__discount--old">$20.99</div>
                        <div class="product__discount--new">$15.99</div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="col-1-of-4 product__col">
            <div class="product__container">
                <div class="row product__row">
                    <span class="product__tag">NEW</span>
                    <a href="#" class="product__link"><img class="product__img" src="~/Images/Products/prod-2.jpg" alt="prod-1" /></a>
                </div>
                <div class="row"><div class="product__title">Yello Jumper</div></div>
                <div class="row"><div class="product__description">A cool jumper for ladies</div></div>
                <div class="row">
                    <div class="product__priceWrapper">
                        <div class="product__price product__price--show">$20.99</div>
                        <div class="product__discount product__discount--hide">
                            <span class="product__discount--text">Offer</span>
                            <div class="product__discount--old">$20.99</div>
                            <div class="product__discount--new">$15.99</div>
                        </div>
                    </div>
                </div>
                <div class="product__buy u-margin-top-small">
                    <a href="#" class="btn btn--cart">Add to Cart</a>
                </div>
                <div class="row">
                    @*<div class="product__discount">
                    Promo!
                    <div class="product__discount--old">$20.99</div>
                    <div class="product__discount--new">$15.99</div>
                </div>*@
                </div>
            </div>
        </div>
        <div class="col-1-of-4 product__col">
            <div class="product__container">
                <div class="row product__row">
                    <span class="product__tag">NEW</span>
                    <a href="#" class="product__link"><img class="product__img" src="~/Images/Products/prod-3.jpg" alt="prod-1" /></a>
                </div>
                <div class="row"><div class="product__title">Yello Jumper</div></div>
                <div class="row"><div class="product__description">A cool jumper for ladies</div></div>
                <div class="row">
                    <div class="product__priceWrapper">
                        <div class="product__price product__price--show">$20.99</div>
                        <div class="product__discount product__discount--hide">
                            <span class="product__discount--text">Offer</span>
                            <div class="product__discount--old">$20.99</div>
                            <div class="product__discount--new">$15.99</div>
                        </div>
                    </div>
                </div>
                <div class="product__buy u-margin-top-small">
                    <a href="#" class="btn btn--cart">Add to Cart</a>
                </div>
                <div class="row">
                    @*<div class="product__discount">
                    Promo!
                    <div class="product__discount--old">$20.99</div>
                    <div class="product__discount--new">$15.99</div>
                </div>*@
                </div>
            </div>
        </div>
        <div class="col-1-of-4 product__col">
            <div class="product__container">
                <div class="row product__row">
                    <span class="product__tag">NEW</span>
                    <a href="#" class="product__link"><img class="product__img" src="~/Images/Products/prod-4.jpg" alt="prod-1" /></a>
                </div>
                <div class="row"><div class="product__title">Yello Jumper</div></div>
                <div class="row"><div class="product__description">A cool jumper for ladies</div></div>
                <div class="row">
                    <div class="product__priceWrapper">
                        <div class="product__price product__price--show">$20.99</div>
                        <div class="product__discount product__discount--hide">
                            <span class="product__discount--text">Offer</span>
                            <div class="product__discount--old">$20.99</div>
                            <div class="product__discount--new">$15.99</div>
                        </div>
                    </div>
                </div>
                <div class="product__buy u-margin-top-small">
                    <a href="#" class="btn btn--cart">Add to Cart</a>
                </div>
                <div class="row">
                    @*<div class="product__discount">
                    Promo!
                    <div class="product__discount--old">$20.99</div>
                    <div class="product__discount--new">$15.99</div>
                </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
