@model ECommerceProject.Models.MainVM.ProductsPageVM
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

@Html.Partial("_ProductsPartial", Model.Products)


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal__content">
    </div>

</div>

@section Scripts{

    <script>

        $(function () {

            var modal = $("#myModal");
            var url = "/Product/ProductDetailsPartial";

            $(document).on("click", ".product__link", function (e) {
                e.preventDefault();
                modal.css({ 'display': 'block' });
                var id = $(this).data("id");

                $.get(url, { id: id }, function (data) {
                    $("div.modal__content").html(data);
                });
            });

            $(document).on("click", ".close", function (e) {
                e.preventDefault();
                modal.css({ 'display': 'none' });
            });
        });

        window.onclick = function (event) {
            if (event.target == document.getElementById("modal")) {
                document.getElementById("modal").style.display = "none";
            }
        }

        $(".fancybox").fancybox();
    </script>
}

