.navigation-top {
    position: relative;

    @include respond(tab-port) {
        display: none;
    }

    &-nav {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    &-list {
        list-style: none;
        //background-color: $color-primary-dark;
        background-image: linear-gradient(to right, rgba($color-primary-dark, .5), rgba($color-primary-dark, 1));
        font-size: 2rem;
        text-align: center;
    }

    &-item {
        padding: 1rem;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &-link {
        &, &:link, &:visited {
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            color: #fff;
            padding: 2px;
            border-radius: 5px;

            transition: all .2s;
        }

        &:hover, &:active {
            background-color: $color-primary-light;
            color: $color-primary-dark;
        }
    }
}
