@model ECommerceProject.Models.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

@if (TempData["success"] != null)
{
    <div class="alert alert__success">@TempData["success"]</div>
}

<div class="section-form">
    <div class="row">
        <div class="col-1-of-3">
            <div class="wrapper-form">
                <form action="/UserAccount/Login" method="post" name="login-form" class="form">
                    <div class="heading-secondary form__title">Login</div><br />
                    @Html.ValidationSummary(true, "", new { @style = "color:red", @class="form__validation" })
                    <div class="form__group">
                        <input type="email" name="Email"  id="email" class="form__input" placeholder="Enter your Email" required />
                        <label class="form__label" for="email">Email Address</label>
                    </div>
                    <div class="form__group">
                        <input type="password" name="Password"  id="password" class="form__input" placeholder="Enter your Password" required />
                        <label class="form__label" for="password">Enter Password</label>
                    </div>
                    <div class="form__group">
                        <button class="btn btn--primary">Login &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
