
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="section-featured">
    @Html.Partial("_featuredPartial")
</section>
<section class="section-collections">
    @Html.Partial("_collectionsPartial")
</section>
<section class="section-promotions">
    @Html.Partial("_promotionsPartial")
</section>

