.collections {

    &__row {
        border-bottom: .5px solid rgba($color-primary-dark, .5);
    }

    &__col {
        position: relative;
        text-align: center;
    }

    &__img {
        transition: all .2s;
    }

    &__description {
        width: 80%;
        position: absolute;
        bottom:0;
        left: 4rem;
        opacity: 0;

        transition: all .2s;
    }

    &__col:hover &__img {
        opacity: .5;
        cursor: default;
    }

    &__col:hover &__description {
        opacity: 1;
        transform: translateY(-15rem);
    }
}
