.collections {

    &__row {
        border-bottom: .5px solid rgba($color-primary-dark, .5);
    }

    &__col {
        position: relative;
        text-align: center;
    }

    &__img {
        transition: all .2s;
    }

    &__description {
        width: 80%;
        position: absolute;
        bottom:0;
        left: 4rem;
        opacity: 0;
        font-size: 2rem;
        color: $color-primary-medium;
        font-weight: 300;

        transition: all .2s;
    }

    &__link {

        &:link, &:visited {
            text-decoration: none;
            cursor: pointer;
        }

        &:hover, &:active {
            cursor: pointer;
        }

        //This should be replaced by a button component
        &-anchor {
            display: block;
            text-decoration:none;
            font-size: 2rem;
            color: $color-primary-dark;
            font-weight: 400;

            transition: all .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    &__col:hover &__img {
        opacity: .5;
        cursor: default;
    }

    &__col:hover &__description {
        opacity: 1;
        transform: translateY(-15rem);
    }
}
