.promotions {

    transform: skewX(-12deg);

    &__row {
        display: table;
        width: 85%;
        height: auto;
        padding: 0;

    }

    &__left {

        width: 66.66667%;
        background-color: white;
        display: table-cell;
        padding: 2rem 3rem;
        vertical-align: middle;
        color: $color-primary-dark;

        &--description {
            font-size: 2rem;
            font-weight:200;

            transform: skewX(12deg);
        }

        &--price {
            font-size: 3rem;
            font-weight: 500;

            transform: skewX(12deg);

        }

        &--button {
            transform: skewX(12deg);
        }
    }

    &__right {
        width: 33.3333%;
        background-color: white;
        display: table-cell;
        vertical-align: middle;
    }

    &__description {

    }

    &__button {

    }

    &__img {
        transform: skewX(12deg);
        width: 100%;
    }
}