.section-collections {
    padding-top: 7rem;
    background-color: #fff;;
}

.section-promotions {
    background-image: linear-gradient(to right, rgba($color-primary-light,.7),
                         rgba($color-primary-dark, .5)), url(../img/promotions-background.jpg);
    padding: 5rem 0;
}

.section-featured {
    background-image: linear-gradient(to bottom, rgba($color-primary-light, .7),
    rgba($color-primary-dark, .5)), url(../img/featured-2.jpg);
    padding-top: 12rem;
    margin-top: -20vh;

    @include respond(tab-land) {
        margin-top: 0;
    }
}

.section-footer {
    //background-image: linear-gradient(to right, rgba($color-primary-light,1), rgba($color-primary-medium, 1));
    background-color: #fff;
    padding: 2rem 0;
    font-size: $default-font-size;
}

