.section-collections {
    padding-top: 7rem;
    background-image: linear-gradient(to right, rgba(#fff, .7), rgba($color-white-blue, .4));
}

.section-promotions {
    background-image: linear-gradient(to right, rgba($color-primary-light,.7),
                         rgba($color-primary-dark, .5)), url(../img/promotions-background.jpg);
    padding: 5rem 0;
}

.section-featured {
    background-image: linear-gradient(to bottom, rgba($color-primary-light, .7),
    rgba($color-primary-dark, .5)), url(../img/featured-2.jpg);
    padding-top: 12rem;
    margin-top: -15vh;
}

