<div class="heading-primary u-margin-bottom-small u-margin-top-small">
    Our Collections
</div>

<div class="collections">
    <!--First Row-->
    <div class="row collections__row">
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                This is Image Description It is super nice items man I like it
                <span class="collections__link">
                    <a href="#" class="collections__link-anchor u-margin-top-small">Visit Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                This is Image Description It is super nice items man I like it
                <span class="collections__link">
                    <a href="#" class="collections__link-anchor u-margin-top-small">Visit Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                This is Image Description It is super nice items man I like it
                <span class="collections__link">
                    <a href="#" class="collections__link-anchor u-margin-top-small">Visit Collection &rarr;</a>
                </span>
            </div>
        </div>
    </div>
    <!--First Row-->
    <div class="row collections__row">
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                This is Image Description It is super nice items man I like it
                <span class="collections__link">
                    <a href="#" class="collections__link-anchor u-margin-top-small">Visit Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                This is Image Description It is super nice items man I like it
                <span class="collections__link">
                    <a href="#" class="collections__link-anchor u-margin-top-small">Visit Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                This is Image Description It is super nice items man I like it
                <span class="collections__link">
                    <a href="#" class="collections__link-anchor u-margin-top-small">Visit Collection &rarr;</a>
                </span>
            </div>
        </div>
    </div>
</div>