<div class="heading-primary u-margin-bottom-small u-margin-top-small">
    Our Collections
</div>

<div class="collections">
    <!--First Row-->
    <div class="row collections__row">
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/Collections/collection_sample.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                <span class="collections__link">
                    <a href="#" class="btn btn--primary u-margin-top-small">Check Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/Collections/women-collection.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                <span class="collections__link">
                    <a href="#" class="btn btn--primary u-margin-top-small">Check Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/Collections/men-collection.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                <span class="collections__link">
                    <a href="#" class="btn btn--primary u-margin-top-small">Check Collection &rarr;</a>
                </span>
            </div>
        </div>
    </div>
    <!--Second Row-->
    <div class="row collections__row">
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/Collections/kids-collection.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                <span class="collections__link">
                    <a href="#" class="btn btn--primary u-margin-top-small">Check Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/Collections/purse-collection.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                <span class="collections__link">
                    <a href="#" class="btn btn--primary u-margin-top-small">Check Collection &rarr;</a>
                </span>
            </div>
        </div>
        <div class="col-1-of-3 collections__col">
            <img src="~/Images/Collections/glass-collections.jpg" alt="Sample Collection" class="collections__img" />
            <div class="collections__description">
                <span class="collections__link">
                    <a href="#" class="btn btn--primary u-margin-top-small">Check Collection &rarr;</a>
                </span>
            </div>
        </div>
    </div>
</div>