<div class="feature">
    <div class="heading-primary u-margin-bottom-medium">Featured Items</div>
    <div class="row feature__row">
        <div class="feature__container u-margin-bottom-medium">
            <div class="feature__left">
                <img src="~/Images/Featured/featured-item-1.jpg" alt="feature-image" class="feature__img" />
                <img src="~/Images/Featured/featured-item-2.jpg" alt="feature-image" class="feature__img" />
            </div>
            <div class="feature__right">
                <div class="row">Row 1</div>
                <div class="row">Row 2</div>
            </div>
        </div>
    </div>
</div>
