<div class="feature">
    <div class="heading-primary u-margin-bottom-medium">Featured Items</div>
    <div class="row feature__row">
        <div class="feature__container u-margin-bottom-medium">
            <div class="feature__left">
                <img src="~/Images/Featured/featured-item-1.jpg" alt="feature-image" class="feature__img" />
                <figcaption class="feature__img-caption feature__img-caption-1 nohover" >Lorem ipsum dolor</figcaption>
                <img src="~/Images/Featured/featured-item-2.jpg" alt="feature-image" class="feature__img" />
                <figcaption class="feature__img-caption feature__img-caption-2">Lorem ipsum dolor</figcaption>
            </div>
            <div class="feature__right">
                <div class="row feature__right--row feature__right--row-1">
                    <div class="heading-secondary">
                        Amazing Purse MK
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <div class="feature__btn-wrapper u-margin-top-small">
                        <a href="#" class="btn btn--buy">Buy Now</a>
                    </div>
                </div>
                <div class="row feature__right--row feature__right--row-2">
                    <div class="heading-secondary">
                        Cool Converse
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <div class="feature__btn-wrapper u-margin-top-small">
                        <a href="#" class="btn btn--buy">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
