<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/css/linea_font.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Styles/css/style.css">
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css">
    <link rel="shortcut icon" type="image/png" href="~/Styles/img/logo.png">
</head>
<body>
    <div class="navigation-top">
        <div class="navigation-top-nav">
            <div class="navigation-top-list">
                <div class="navigation-top-item">
                    <a href="/Home/Index" class="navigation-top-link">Home</a>
                </div>
                <div class="navigation-top-item">
                    <a href="/Collection/all-collections" class="navigation-top-link">Collections</a>
                </div>
                <div class="navigation-top-item">
                    <a href="/Product/featured-products" class="navigation-top-link">Featured</a>
                </div>
                <div class="navigation-top-item">
                    <a href="/Product/promotions" class="navigation-top-link">Promotions</a>
                </div>
                <div class="navigation-top-item navigation-top-right">
                    <a href="/UserAccount/Register" class="navigation-top-link navigation-top-link-right">Register</a>
                </div>
                <div class="navigation-top-item navigation-top-right">
                    <a href="/UserAccount/Login" class="navigation-top-link navigation-top-link-right">Login</a>
                </div>
                <div class="navigation-top-item navigation-top-right">
                    <a href="/UserAccount/Login" class="navigation-top-link navigation-top-link-right">Hi UserName</a>
                </div>
                <div class="navigation-top-item navigation-top-right">
                    (<span>0</span>)
                    <a href="/UserAccount/Login" class="navigation-top-link navigation-top-link-right">Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="general-navigation">
        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <div class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="#" class="navigation__link">Women Collection</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Kids Collection</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Men Collection</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Accessories</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Purses</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Sun Glasses</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Promotions</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Contact us</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Our Story</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="general-layout-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
