<div class="promotions">
    <div class="row promotions__row">
        <div class="promotions__left">
            <div class="promotions__left--description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin nibh nisl condimentum id venenatis a.
            </div>
            <div class="promotions__left--price">
                Item Price goes here
            </div>
            <div class="promotions__left--button">
                Here goes the button component
            </div>
        </div>
        <div class="promotions__right">
            <div class="promotions__img">
                <img src="~/Images/promotions/featured-img-1.jpg" alt="promo-1" class="promotions__img-1" />
            </div>
        </div>
    </div>
</div>