<div class="promotions" id="promotions">

    <div class="heading-primary u-margin-bottom-medium">Current Promotions</div>

    <div class="row promotions__row">
        <div class="promotions__left">
            <div class="promotions__left--description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="promotions__left--description promotions__left--price">
                Was at <span class="promotions__left--price-old">$24.99</span>
            </div>
            <div class="promotions__left--description promotions__left--price">
                Now at <span class="promotions__left--price-new">$19.99</span>
            </div>
            <div class="promotions__left--button">
                <a href="#" class="btn btn--buy">Buy <span>Now</span></a>
            </div>
        </div>
        <div class="promotions__right">
            <div class="promotions__img">
                <img src="~/Images/promotions/featured-img-1.jpg" alt="promo-1" />
            </div>
        </div>
    </div>

    <div class="row promotions__row">
        <div class="promotions__left">
            <div class="promotions__left--description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="promotions__left--description promotions__left--price">
                Was at <span class="promotions__left--price-old">$24.99</span>
            </div>
            <div class="promotions__left--description promotions__left--price">
                Now at <span class="promotions__left--price-new">$19.99</span>
            </div>
            <div class="promotions__left--button">
                <a href="#" class="btn btn--buy">Buy <span>Now</span></a>
            </div>
        </div>
        <div class="promotions__right">
            <div class="promotions__img">
                <img src="~/Images/promotions/featured-img-2.jpg" alt="promo-1" />
            </div>
        </div>
    </div>


    <div class="row promotions__row-btn u-margin-top-small">
        <div class="promotions__see-all-button">
            <a href="#" class="btn btn--secondary">See all Promotions &rarr;</a>
        </div>
    </div>

</div>