/*
0 - 600PX:          Phone
600 - 900px:        Tablet Portrait
900 - 1200px:       Tablet Landscape

[1200 - 1800px]     Where our normal styles apply

1800px +:           Big Desktop

Breakpoint argument choices
-Phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #e6faff; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

::selection {
  background-color: #007a99;
  color: #e6faff; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.section-collections {
  padding-top: 7rem;
  background-color: #fff; }

.section-promotions {
  background-image: linear-gradient(to right, rgba(230, 250, 255, 0.7), rgba(0, 0, 102, 0.5)), url(../img/promotions-background.jpg);
  padding: 5rem 0; }

.section-featured {
  background-image: linear-gradient(to bottom, rgba(230, 250, 255, 0.7), rgba(0, 0, 102, 0.5)), url(../img/featured-2.jpg);
  padding-top: 12rem;
  margin-top: -20vh; }
  @media only screen and (max-width: 75em) {
    .section-featured {
      margin-top: 0; } }

.section-footer {
  background-color: #fff;
  padding: 2rem 0;
  font-size: 1.5rem; }

.general-layout-content {
  margin-top: 5rem; }

.row {
  max-width: 100%;
  padding: 1rem 1rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-bottom: 1rem; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*1rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*1rem)/4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2*1rem)/3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3*1rem)/4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3*1rem)/4) + 2*1rem); }

.header {
  height: 80vh;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(230, 250, 255, 0.5), rgba(51, 153, 255, 0.5)), url(../img/main_banner.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
  @media only screen and (max-width: 56.25em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none; } }
  @media only screen and (max-width: 75em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none; } }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .header__primary {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 1.5rem;
    color: #e6faff;
    text-transform: uppercase; }

@includerespond (tab-port) {
  .header__primary {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem; } }

@includerespond (tab-land) {
  .header__primary {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1rem; } }
  .header__secondary {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.5rem;
    color: #e6faff; }
    @media only screen and (max-width: 56.25em) {
      .header__secondary {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: .5rem;
        line-height: 1; } }
  .header__quote {
    color: #e6faff;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    font-family: 'Indie Flower', cursive;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__quote {
        font-size: 2rem;
        font-weight: 100;
        letter-spacing: .5rem; } }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-box {
        top: 0;
        left: 0; } }
  .header__logo {
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .header__logo {
        width: 50%; } }

.footer__links {
  width: 100%;
  text-align: center; }

.footer__logo {
  text-align: center; }

.footer__copy--text {
  text-align: center;
  font-style: italic; }
  .footer__copy--text p {
    margin-top: .5rem;
    color: #00331f; }

.footer__list {
  list-style: none; }

.footer__item {
  display: inline-block;
  padding: .5rem; }
  .footer__item:not(:last-child) {
    border-right: 1px solid #000066; }

.footer__anchor:link, .footer__anchor:visited {
  color: #000066;
  background-color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  padding-right: 2px;
  transition: all .2s; }

.footer__anchor:hover, .footer__anchor:active {
  color: #000066;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: rotate(4deg) scale(1.1); }

.footer__contact {
  color: #00331f;
  text-align: center; }

.footer__icon {
  font-size: 3rem; }

.general-navigation {
  visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .general-navigation {
      visibility: visible; } }

.navigation {
  position: relative;
  /*This is for the text or shape on the button*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__background {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-image: linear-gradient(to left, rgba(230, 250, 255, 0.8), #000066);
    right: 4.5rem;
    top: 3rem;
    position: fixed;
    transition: all .2s;
    z-index: 1000; }
  .navigation__button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #fff;
    right: 4rem;
    top: 3rem;
    position: fixed;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
    z-index: 2000; }
    .navigation__button:hover {
      cursor: pointer; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem;
    margin-left: 1rem;
    display: inline-block; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 4rem;
      height: 2px;
      background-color: grey;
      transition: all .2s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; }
  .navigation__nav {
    width: 0;
    opacity: 0;
    position: fixed;
    z-index: 1500;
    top: 1rem;
    right: 16rem;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    @media only screen and (max-width: 56.25em) {
      .navigation__nav {
        left: 0; } }
  .navigation__list {
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center; }
  .navigation__item {
    display: block;
    padding: 0 1rem; }
    .navigation__item:not(:last-child) {
      margin-bottom: 1rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 225%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #000066;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(22); }
    @media only screen and (max-width: 56.25em) {
      .navigation__checkbox:checked ~ .navigation__background {
        transform: scale(80); } }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 25vw; }
    @media only screen and (max-width: 56.25em) {
      .navigation__checkbox:checked ~ .navigation__nav {
        top: 10rem;
        width: 100vw; } }
  .navigation__button:hover .navigation__icon::before {
    top: -1.2rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1.2rem; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg); }

.navigation-top {
  position: relative;
  z-index: 3000; }
  @media only screen and (max-width: 56.25em) {
    .navigation-top {
      display: none; } }
  .navigation-top-nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .navigation-top-list {
    list-style: none;
    background-image: linear-gradient(to right, rgba(0, 0, 102, 0.5), #000066);
    font-size: 2rem;
    text-align: center; }
  .navigation-top-item {
    padding: 1rem;
    display: inline-block; }
    .navigation-top-item:not(:last-child) {
      margin-right: 2rem; }
  .navigation-top-link, .navigation-top-link:link, .navigation-top-link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
    transition: all .2s; }
  .navigation-top-link:hover, .navigation-top-link:active {
    background-color: #e6faff;
    color: #000066; }

.collections__row {
  border-bottom: 0.5px solid rgba(0, 0, 102, 0.5); }
  @media only screen and (max-width: 56.25em) {
    .collections__row {
      border-bottom: none; } }

.collections__col {
  position: relative;
  text-align: center; }

.collections__img {
  transition: all .2s; }

.collections__description {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 4rem;
  opacity: 0;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .collections__description {
      width: 100%;
      text-align: center;
      opacity: 1;
      left: 0;
      bottom: 50%; } }

.collections__col:hover .collections__img {
  opacity: .5;
  cursor: default; }
  @media only screen and (max-width: 56.25em) {
    .collections__col:hover .collections__img {
      opacity: 1; } }

.collections__col:hover .collections__description {
  opacity: 1;
  transform: translateY(-15rem); }
  @media only screen and (max-width: 56.25em) {
    .collections__col:hover .collections__description {
      transform: none; } }

.heading-primary {
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1rem; } }

.heading-secondary {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-align: center; }

.promotions {
  position: relative; }
  .promotions__row {
    display: table;
    width: 80%;
    padding: 0;
    border-left: 2px solid #000066;
    margin-bottom: 4rem;
    background-color: rgba(230, 250, 255, 0.5);
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
    .promotions__row:not(:last-child) {
      border-bottom: 2px solid #000066; }
    @media only screen and (max-width: 56.25em) {
      .promotions__row {
        -webkit-clip-path: none;
        clip-path: none;
        width: 50%;
        display: normal; } }
    .promotions__row-btn {
      position: relative; }
  .promotions__left {
    width: 40%;
    display: table-cell;
    padding: 2rem 3rem;
    vertical-align: middle;
    color: #000066; }
    @media only screen and (max-width: 56.25em) {
      .promotions__left {
        width: 60%;
        vertical-align: auto; } }
    .promotions__left--description {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 1rem;
      text-align: center; }
      @media only screen and (max-width: 56.25em) {
        .promotions__left--description p {
          display: none;
          visibility: hidden; } }
      @media only screen and (max-width: 56.25em) {
        .promotions__left--description {
          font-size: 1rem;
          margin-bottom: 0rem; } }
    .promotions__left--price {
      margin-bottom: 1rem;
      font-family: 'Indie Flower', cursive; }
      @media only screen and (max-width: 56.25em) {
        .promotions__left--price {
          margin-bottom: 0; } }
      .promotions__left--price-old {
        font-weight: 500;
        text-decoration: line-through;
        color: #ff6666;
        font-family: 'Nunito Sans', sans-serif; }
        @media only screen and (max-width: 56.25em) {
          .promotions__left--price-old {
            font-weight: 100; } }
      .promotions__left--price-new {
        font-weight: 500;
        color: #00331f;
        font-family: 'Nunito Sans', sans-serif; }
        @media only screen and (max-width: 56.25em) {
          .promotions__left--price-new {
            font-weight: 100; } }
    .promotions__left--button {
      text-align: center; }
      @media only screen and (max-width: 56.25em) {
        .promotions__left--button span {
          display: none; } }
  .promotions__right {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .promotions__right {
        width: 40%; } }
  .promotions__img img {
    width: 80%; }
  .promotions__img:hover {
    cursor: pointer; }
  .promotions__see-all-button {
    text-align: center;
    width: 100%;
    margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .promotions__see-all-button {
        width: 100%;
        text-align: center;
        margin-top: 1rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  transition: all .2s; }

.btn:hover, .btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7); }

.btn--primary {
  background-color: rgba(230, 250, 255, 0.7);
  color: #000066;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 1.7rem; }

.btn--secondary {
  background-color: #000066;
  color: #e6faff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .btn--secondary {
      font-weight: 100;
      font-size: 1rem; } }

.btn--buy {
  background-color: #4dffb8;
  color: #00331f;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .btn--buy {
      font-weight: 100;
      font-size: 1rem; } }

.btn--cart {
  background-color: #e6faff;
  color: #000066;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .btn--cart {
      font-weight: 100;
      font-size: 1rem; } }

.feature__container {
  width: 80%;
  display: table;
  margin-left: 10%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.feature__left {
  width: 40%;
  display: table-cell;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .feature__left {
      width: 80%; } }

.feature__right {
  width: 60%;
  display: table-cell;
  background-color: rgba(230, 250, 255, 0.5);
  vertical-align: middle;
  padding: 2rem 1rem;
  font-size: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .feature__right {
      width: 0;
      display: none; } }
  .feature__right--row-2 {
    margin-top: 10%; }

.feature__img {
  display: block;
  width: 100%; }
  .feature__img:hover {
    cursor: pointer; }

.feature__btn-wrapper {
  text-align: center; }

.feature__img-caption {
  position: absolute;
  margin-left: 20%;
  opacity: 0;
  text-transform: uppercase;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .feature__img-caption {
      opacity: 1;
      margin-left: 0;
      width: 100%;
      text-align: center; } }
  .feature__img-caption-1 {
    top: 0; }
    @media only screen and (max-width: 56.25em) {
      .feature__img-caption-1 {
        top: 10rem; } }
  .feature__img-caption-2 {
    bottom: 0; }
    @media only screen and (max-width: 56.25em) {
      .feature__img-caption-2 {
        bottom: 10rem; } }

.feature__left:hover .feature__img-caption-1 {
  opacity: 1;
  transform: translateY(10rem); }
  @media only screen and (max-width: 56.25em) {
    .feature__left:hover .feature__img-caption-1 {
      transform: none; } }

.feature__left:hover .feature__img-caption-2 {
  opacity: 1;
  transform: translateY(-10rem); }
  @media only screen and (max-width: 56.25em) {
    .feature__left:hover .feature__img-caption-2 {
      transform: none; } }

.product__row {
  position: relative; }

.product__col {
  text-align: center; }

.product__tag {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: #FFD700;
  width: 5rem;
  padding: .5rem;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  text-align: center; }

.product__priceWrapper {
  position: relative;
  text-align: center; }

.product__price {
  font-size: 2.5rem;
  font-family: 'Indie Flower', cursive;
  color: #000066;
  font-weight: bold; }
  .product__price--show {
    visibility: visible;
    opacity: 1; }
  .product__price--hide {
    opacity: 0;
    visibility: hidden; }

.product__title {
  font-size: 2.5rem;
  font-family: 'Indie Flower', cursive;
  color: #000066;
  font-weight: bold; }

.product__description {
  font-size: 1.5rem;
  color: rgba(0, 0, 102, 0.8);
  font-weight: bold; }

.product__discount {
  background-image: linear-gradient(to right, #3399ff, #000066);
  width: 80%;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  /*This class to be toggled through JS*/ }
  @media only screen and (max-width: 56.25em) {
    .product__discount--text {
      display: none; } }
  .product__discount--show {
    visibility: visible;
    opacity: 1; }
  .product__discount--hide {
    opacity: 0;
    visibility: hidden; }
  .product__discount--old {
    float: left;
    text-decoration: line-through; }
  .product__discount--new {
    float: right; }
