* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #e6faff; }

::selection {
  background-color: #007a99;
  color: #e6faff; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.section-collections {
  padding-top: 7rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(204, 255, 230, 0.4));
  margin-top: -15vh; }

.section-promotions {
  background-image: linear-gradient(to right, rgba(230, 250, 255, 0.7), rgba(0, 0, 102, 0.5)), url(../img/promotions-background.jpg);
  padding: 5rem 0; }

.row {
  max-width: 100%;
  padding: 1rem 1rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 900px) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*1rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*1rem)/4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2*1rem)/3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3*1rem)/4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3*1rem)/4) + 2*1rem); }

.header {
  height: 80vh;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(230, 250, 255, 0.5), rgba(51, 153, 255, 0.5)), url(../img/main_banner.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .header__primary {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 1.5rem;
    color: #e6faff;
    text-transform: uppercase; }
  .header__secondary {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.5rem;
    color: #e6faff; }
  .header__quote {
    color: #e6faff;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    font-family: 'Indie Flower', cursive; }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 2rem; }

.collections__row {
  border-bottom: 0.5px solid rgba(0, 0, 102, 0.5); }

.collections__col {
  position: relative;
  text-align: center; }

.collections__img {
  transition: all .2s; }

.collections__description {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 4rem;
  opacity: 0;
  transition: all .2s; }

.collections__col:hover .collections__img {
  opacity: .5;
  cursor: default; }

.collections__col:hover .collections__description {
  opacity: 1;
  transform: translateY(-15rem); }

.heading-primary {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  text-align: center; }

.promotions {
  position: relative; }
  .promotions__row {
    display: table;
    width: 80%;
    padding: 0;
    border-left: 2px solid #000066;
    margin-bottom: 4rem;
    background-color: rgba(230, 250, 255, 0.5);
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
    .promotions__row:not(:last-child) {
      border-bottom: 2px solid #000066; }
    .promotions__row-btn {
      position: relative; }
  .promotions__left {
    width: 40%;
    display: table-cell;
    padding: 2rem 3rem;
    vertical-align: middle;
    color: #000066; }
    .promotions__left--description {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 1rem;
      text-align: center; }
    .promotions__left--price {
      margin-bottom: 1rem;
      font-family: 'Indie Flower', cursive; }
      .promotions__left--price-old {
        font-weight: 500;
        text-decoration: line-through;
        color: #ff6666;
        font-family: 'Nunito Sans', sans-serif; }
      .promotions__left--price-new {
        font-weight: 500;
        color: #00331f;
        font-family: 'Nunito Sans', sans-serif; }
    .promotions__left--button {
      text-align: center; }
  .promotions__right {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden; }
  .promotions__img:hover {
    cursor: pointer; }
  .promotions__see-all-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    margin-top: 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  transition: all .2s; }

.btn:hover, .btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7); }

.btn--primary {
  background-color: rgba(230, 250, 255, 0.7);
  color: #000066;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 1.7rem; }

.btn--secondary {
  background-color: #000066;
  color: #e6faff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

.btn--buy {
  background-color: #4dffb8;
  color: #00331f;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 1.5rem; }
