//white set
$color-white-blue: #ccffe6;

//Main Set
$color-primary-light: #e6faff;
$color-primary-medium: #3399ff;
$color-primary-dark: #000066;

//Green Set
$color-green-light: #4dffb8;
$color-green-dark: #00331f;

//red set
$color-red-light: #ff6666;
$color-red-dark: #990000;

$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;

$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

//Fonts
$default-font-size: 1.5rem;